.profile-pic {
  width: 150px;
  height: 150px;
  margin: 25px;
}

.li-in-bug {
  height: 21px;
  padding: 5px;
}

/* Hello Page */

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.intro>h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro>div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hello Page */

.bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.bio>h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
}

section {
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  height: 200px;
  aspect-ratio: 3 / 2;
  margin: 10px;
  box-sizing: border-box;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.project>img {
  width: 175px;
  aspect-ratio: 3 / 2;
  margin: 10px;
}

.project>p {
  text-align: center;
}

.form-label {
  max-lines: 1;
}

.form-input {
  margin-bottom: 20px;
  width: 100%;
}

.form-textarea {
  height: 250px;
}

.contact-form {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.contact-form>* {
  margin-right: auto;
}

.contact-form>button {
  margin-left: auto;
}

.project-details {
  margin-top: 20px;
}

.proj-img-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px 25px 0px;
  max-width:700px;
  box-shadow: 0 0 10px #ddd;
  padding: 5px;
}

.proj-img-single>img {
  max-width: 700px;
}

.proj-img-single>figcaption>p, .proj-img-double>figcaption>p, .img-container>p {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-style: italic;
  color: #5b5b5b;
  padding: 10px;
}

.img-container {
  margin: 25px 0px 25px 0px;
  max-width: 700px;
}

.multi-img {
  display:flex;
  flex-flow: row wrap;
  max-width: 700px;
  justify-content: space-evenly;
  box-shadow: 0 0 10px #ddd;
  padding: 5px;
}

.proj-img-double {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
}

.proj-img-double>img {
  max-width: 340px;
}



@media only screen and (min-width: 668px) {
  .project-list {
    flex-direction: row;
    justify-content: flex-start;
  }
}


